.pageNotFound {
	display: grid;
	place-items: center;
	min-height: 100vh;
	padding: 1.5rem;

	&__inner {
		text-align: center;
		max-width: 120rem;
		width: 100%;
	}

	&__code {
		font-size: 12rem;
		margin-bottom: 1.2rem;
		font-weight: 700;
		color: var(--link);
	}

	&__title {
		font-size: 3.2rem;
		margin-bottom: 1.2rem;
		color: var(--text);
	}

	&__text {
		font-size: 1.6rem;
		max-width: 60ch;
		margin: 0 auto 2rem;
		line-height: 2;
		color: var(--text-muted);
	}

	&__actions {
		@include u-flex($jc: center);
		gap: 1rem;

		.btn {
			font-size: 1.6rem;
			padding: 0.7rem 5rem;
			border-radius: 0.5rem;
			background-color: #000;
			color: #fff;
			text-decoration: none;
			border: none;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: #333;
				text-decoration: none;
			}
		}

		.btn-outline {
			border: 0.2rem solid #000;
			background-color: transparent;
			color: #000;
			transition: all 0.3s ease;

			&:hover {
				background-color: #000;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}
